div.div {
    border: black 1px solid;
}

.div1 {
    width: 70%;
    background-color: #3cff00;
    color: #ffffff;
    border-bottom-left-radius: 35px;
    transform: skewX(-30deg);
    border-top-left-radius: 10px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.div2 {
    width: 30%;
    height: 35px;
    background-color: #ff000d;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    transform: skewX(-30deg);
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px;
}

.div2 h2 {
    text-transform: capitalize;
    color: white;
    text-shadow: 4px 5px red;
}

.div1 span {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    padding: 5px;
    height: 35px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 1200px;

}