body {
    position: relative;
}


.div1 {
    width: 70%;
    background-color: #3cff00;
    color: #ffffff;
    border-bottom-left-radius: 35px;
    transform: skewX(-30deg);
    border-top-left-radius: 10px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.div2 {
    width: 30%;
    height: 35px;
    background-color: #ff000d;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    transform: skewX(-30deg);
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 5px;
    width: 100%;
}

.div2 h2 {
    text-transform: capitalize;
    color: white;
    text-shadow: 4px 5px red;
}

.div1 span {
    box-sizing: border-box;
    display: inline-block;
    width: 120px;
    padding: 5px;
    height: 30px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

iframe {
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    height: 1200px;
    /* justify-content: center; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */

}

a {
    /* background-color: antiquewhite; */
    color: black;
    height: auto;
    font-size: 20px;
    width: auto;
    border-radius: 15px;
}

a:hover {
    transform: translate(1.1);
    background-color: chartreuse;
}